body {
    position: relative;
    /* Sets up positioning for your footer
*/
}

.sticky {
    position: fixed;
    /* Here's what sticks it */
    bottom: 0;
    /* to the bottom of the window */
    left: 0;
    /* and to the left of the window. */
    height: 40px;
    width: 100%;
    padding-top: 0px;
    background: #000000;
    color: #ffffff;
    text-align: center;
}